body{
   background-color: antiquewhite;    
}

h1{
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
    border-radius:20px;
    text-align:center;
    top:100px;
    width:40%;
}

.btn{
    top:50%;
    height:80px;
    float:left;
    width:230px;
    margin-left:300px;
    margin-right:200px;
    border-radius:25px;

    margin-top:25px;
}
.g-signin2{
    top:10%;  
    height:80px;
}